{% extends '_layout.twig' %}
{% block main %}
    <div class="home pd1 sb1 lt1">
        <div class="w08">
            <div class="mission-wall">
            {% for item in mission_list %}
                <div class="item tg-wrap item{{ loop.index }}">
                    <div class="item-inner r1020">
                        <div class="item-main row">
                            <div class="col-12 node-mobile" data-child="dyn-title{{ loop.index }}">
                                <div class="dyn-node" data-node="dyn-title{{ loop.index }}">
                                    <h3 class="title fs1820 c0">{{ item.title }}</h3>
                                </div>
                            </div>
                            <div class="figure">
                                <img class="r1020" src="{{ item.src }}" width="140" height="140" alt="{{ item.titlle }}" loading="lazy">
                            </div>
                            <div class="text">
                                <div class="node-pc" data-child="dyn-title{{ loop.index }}"></div>
                                <div class="desc fs1416">{{ item.desc }}</div>
                                <div class="btn-wrap row fjcsb faic">
                                    <a class="btn btn02 fw7" href="{{ item.url }}" title="點我前往完成任務">點我前往完成任務</a>
                                    <div class="node-pc" data-child="dyn-quota{{ loop.index }}"></div>
                                    <div class="node-pc" data-child="dyn-step{{ loop.index }}"></div>
                                </div>
                            </div>
                        </div>

                        <div class="node-mobile" data-child="dyn-quota{{ loop.index }}">
                            <div class="dyn-node btn-item btn03" data-node="dyn-quota{{ loop.index }}">
                                今日剩餘 <strong class="fs18 color2">{{ item.quota }}</strong> 名額
                            </div>
                        </div>
                        <div class="tg-content col-12">
                            <div class="list list01 row fjcc">
                                <ol class="fs1416 fw3">
                                    {% for line in item.step|nl2br|split('\n') %}
                                        {% if line|trim is not empty %}
                                            <li>{{ line|trim }}</li>
                                        {% endif %}
                                    {% endfor %}
                                </ol>
                            </div>
                        </div>
                        <div class="node-mobile" data-child="dyn-step{{ loop.index }}">
                            <a class="dyn-node tg-btn btn04 fw3" data-target="item{{ loop.index }}" data-node="dyn-step{{ loop.index }}" href="#" title="查看任務步驟說明">查看任務步驟說明</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
