{% extends '_layout.twig' %}
{% block main %}
    <div class="mission-video pd1 sy1">
        <div class="w08 r1020 pd1 sy2 my3">
            <h1 class="tc fs1820 fw5 c0 sb05">{{ mission.title }}</h1>
            <div class="row fjcc faic tc sb1 mt1 mb2">
                <span>今日剩餘&nbsp;&nbsp;</span>
                <strong class="fs30 color2">{{ mission.quota }}</strong>
                <span>&nbsp;&nbsp;名額</span>
            </div>
            <div class="miission-clik r1020 w04">
                <div class="prompt row fjcc faic cf">
                    <div id="countdown" class="row fjcc faic">
                        <div class="row fjcc faic">
                            <div>等倒數結束方可點擊廣告：</div>
                            <div class="row fjcc faic">
                                剩餘<strong class="timer fs24">5</strong>秒
                            </div>
                        </div>
                    </div>
                    <div class="fs1820">請點擊下方有興趣廣告</div>
                </div>
                <div class="figure">
                    <a class="off" href="mission-video-ok.html" title="{{ mission.name }}">
                        <img src="{{ mission.src }}" alt="{{ mission.name }}" loading="lazy">
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts_for_body %}
    <script>
        function hideElement(element) {
            element.style.display = 'none';

            // 移除class="off"
            var adLink = element.querySelector('.figure a.off');
            if (adLink) {
                adLink.classList.remove('off');
            }
        }

        function removeOff() {
            var adLink = document.querySelector('.miission-clik a.off');
            if (adLink) {
                adLink.classList.remove('off');
            }
        }

        function startCountdown(elementId) {
            var countdown = document.getElementById(elementId);

            var countdownInterval = setInterval(function () {
                var timerElement = countdown.querySelector('.timer');
                timerElement.textContent--;

                if (timerElement.textContent == 0) {
                    clearInterval(countdownInterval);
                    hideElement(countdown);
                    removeOff();
                }
            }, 1000);
        }

        startCountdown('countdown');

    </script>
{% endblock %}